Editorial fixes

* The correct reference for X.509 certificates is not RFC 7925, but rather RFC 5280.

* s/ace-groupcomm-profile/ace_groupcomm_profile

   More generally, ensure that all the parameters use '_' as word separator, just like the ACE framework does in RFC 9200.


* In CDDL examples

   s/. bits/.bits
   s/= int/: int


* Section 4.9.1

   OLD:
   possibly replacing the currently stored value

   NEW:
   replacing the currently stored value (if any)


* Section 6.2.1

   s/MUST me provided/MUST be provided


* Section 8 uses "support and understand ...".

   The use of "understand" was intended to further stress the parameter support when handling a message conveying it, with consequent understanding for processing its value. We can simply say "support".